*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #2b2b2b;
    --color: #eaeaea;
    --hover: #00000090; 
}

@media (orientation: landscape) {
    body{
    background-color: #252525;
    color: #e6e6e6;
    background-image: url('hogwarts.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    }
}

@media (orientation: portrait) {
    body{
        background-color: #252525;
        color: #e6e6e6;
        background-image: url('hogwarts_mobile.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
}
